.mealz-calculator-activity-level-value {
  text-align: right;
}

.mealz-calculator-activity-level-details {
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
}

.mealz-calculator-activity-level-menu-item {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
}

.mealz-calculator-activity-level-menu-item-details {
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
}

.mealz-calculator-goal-value {
  text-align: right;
}

.mealz-calculator-summary-issues {
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
}

.mealz-calculator-summary {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.mealz-calculator-summary-entry {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  justify-content: center;
  @include mealz-font-tiny();
}

.mealz-calculator-summary-entry-amount {
  padding-left: 0.25rem;
  color: $mealz-theme-color-calories;
}

.mealz-calculator-summary-entry-unit {
  padding-left: 0.25rem;
  color: $mealz-theme-color-fg-dark;
}

.mealz-calculator-summary-bmr {
  @include mealz-font-tiny();
  text-align: center;
  color: $mealz-theme-color-fg-dark;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.mealz-calculator-summary-bmr-value {
  color: $mealz-theme-color-calories;
  padding-left: 0.25rem;
}
  
.mealz-calculator-summary-bmr-unit {
  padding-left: 0.25rem;
}

.mealz-calculator-save-container {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.mealz-calculator-save-label {
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
  text-align: center;
  margin-bottom: 1rem;
}