.mealz-full-screen-loader {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 666;
  width: 100vw;
  height: 100vh;
  background-color: rgba($mealz-theme-color-bg-dark, 0.75);
  gap: 1rem;

  button {
    margin-top: 1rem;
  }
}

.mealz-full-screen-loader-transparent {
  opacity: 0;
}

.mealz-full-screen-loader-content {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateY(-6rem);
}