@mixin mealz-spinner($radius, $color) {
  text-align: center;
  display: flex;
  align-items: center;

  & > div {
    width: $radius;
    height: $radius;
    background-color: $color;
    margin: 0 0.125rem;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: spinner-bouncedelay 1.4s infinite ease-in-out both;
    animation: spinner-bouncedelay 1.4s infinite ease-in-out both;
  }

  & .bounce-a {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  & .bounce-b {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes spinner-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes spinner-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
}

.mealz-spinner {
  @include mealz-spinner(1rem, $mealz-theme-color-fg);
} 

.mealz-spinner-small {
  @include mealz-spinner(0.5rem, $mealz-theme-color-fg);
}

