.mealz-link-button {
  cursor: pointer;
  color: $mealz-theme-color-link;
}

.mealz-link-button-small {
  @include mealz-font-small();
}

.mealz-link-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}