.mealz-material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

.mealz-material-icon-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.mealz-material-icon-clicked {
  animation: mealz-material-icon-click-animation 0.3s ease-in-out;
}

@keyframes mealz-material-icon-click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}