.mealz-modal-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mealz-modal-menu-item {
  padding: 0.5rem 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($mealz-theme-color-border, 0.5);
  }
}