**/dist
**/build
**/node_modules
**/yalc.lock
**/.yalc
**/.DS_Store

# Linked directories
backend/data/src/ingredients
backend/sqlite/tools/src/ingredients

backend/_db/*
backend/etc/https/*.crt
backend/etc/https/*.key
backend/etc/https/*.csr

NOTES.md

# Release directories and files
mealz-*
