**/dist
**/build
**/node_modules
**/yalc.lock
**/.yalc

backend/.db/*
backend/data/src/ingredients/v1
backend/sqlite/tools/src/ingredients/v1
backend/etc/https/*.crt
backend/etc/https/*.key
backend/etc/https/*.csr

backend/sqlite/tools/src/ingredients/v1

NOTES.md
