if [ -n "$BASH_VERSION" ]; then
  # bash
  SCRIPT_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)/$(basename "${BASH_SOURCE[0]}")"
elif [ -n "$ZSH_VERSION" ]; then
  # zsh
  SCRIPT_PATH="$(cd "$(dirname "${(%):-%x}")" && pwd)/$(basename "${(%):-%x}")"
else
  echo "Unsupported shell. Please use bash or zsh."
  exit 1
fi
SCRIPT_DIR="$(dirname "$SCRIPT_PATH")"

export MEALZ_PORT=8443
export MEALZ_HTTPS_CERT_FILE="..."
export MEALZ_HTTPS_KEY_FILE="..."

export MEALZ_TIME_ZONE="..."

export MEALZ_JWT_SECRET="..."
export MEALZ_WEB_APP_DIR="$SCRIPT_DIR/../../web/web-app/dist/app"

export MEALZ_USERS_SQLITE_DB_FILE="..."
export MEALZ_INGREDIENTS_SQLITE_DB_FILE="..."
export MEALZ_MEALS_SQLITE_DB_FILE="..."
export MEALZ_MEALS_USER_SQLITE_DB_FILE="..."
export MEALZ_MEALS_LOG_SQLITE_DB_FILE="..."
export MEALZ_MEALS_DAILY_PLAN_SQLITE_DB_FILE="..."
export MEALZ_MEALS_NAMED_SQLITE_DB_FILE="..."
export MEALZ_TELEGRAM_USERS_SQLITE_DB_FILE="..."
export MEALZ_HYDRATION_DAILY_PLAN_SQLITE_DB_FILE="..."
export MEALZ_HYDRATION_LOG_SQLITE_DB_FILE="..."

export MEALZ_SQLITE_DB_DUMP_DIR="..."
export MEALZ_SQLITE_DB_LOCAL_BACKUP_DIR="..."
export MEALZ_SQLITE_DB_REMOTE_BACKUP="key=...;host=...;port=...;user=...;dir=..."
export MEALZ_SQLITE_DB_BACKUP_CRON="0 2 * * *"

export MEALZ_TELEGRAM_ENABLED="true"
export MEALZ_TELEGRAM_BOT_TOKEN="..."
export MEALZ_TELEGRAM_BOT_NAME="..."
export MEALZ_TELEGRAM_WEBHOOK_URL="..."
export MEALZ_TELEGRAM_WEBHOOK_TOKEN="..."
export MEALZ_TELEGRAM_WEBHOOK_CERTIFICATE="..."

export MEALZ_OPENAI_API_KEY="..."

export MEALZ_USERS_DAILY_INSIGHTS_SEND_NUTRITION_SUMMARY="true"
export MEALZ_USERS_DAILY_INSIGHTS_SEND_INSIGHTS="true"

export MEALZ_OTEL_LOG_EXPORTER="..."
export MEALZ_OTEL_LOG_EXPORTER_ENDPOINT="..."
export MEALZ_OTEL_LOG_EXPORTER_TOKEN="..."

export MEALZ_METRICS_AUTH_TOKEN="..."

export MEALZ_TRACING_ENABLED="true"
export MEALZ_TRACING_EXPORTER="..."
export MEALZ_TRACING_HTTP_EXPORTER_URL="..."
export MEALZ_TRACING_HTTP_EXPORTER_TOKEN="..."
export MEALZ_TRACING_SPAN_PROCESSOR="..."