if [ -n "$BASH_VERSION" ]; then
  # bash
  SCRIPT_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)/$(basename "${BASH_SOURCE[0]}")"
elif [ -n "$ZSH_VERSION" ]; then
  # zsh
  SCRIPT_PATH="$(cd "$(dirname "${(%):-%x}")" && pwd)/$(basename "${(%):-%x}")"
else
  echo "Unsupported shell. Please use bash or zsh."
  exit 1
fi
SCRIPT_DIR="$(dirname "$SCRIPT_PATH")"

export MEALZ_PORT=8443
export MEALZ_HTTPS_CERT_FILE="..."
export MEALZ_HTTPS_KEY_FILE="..."

export MEALZ_JWT_SECRET="..."
export MEALZ_WEB_APP_DIR="$SCRIPT_DIR/../../web/web-app/dist/app"

export MEALZ_USERS_SQLITE_DB_FILE="..."
export MEALZ_SQLITE_DB_BACKUP_DIR="..."
export MEALZ_INGREDIENTS_SQLITE_DB_FILE="..."
export MEALZ_MEALS_SQLITE_DB_FILE="..."
export MEALZ_MEALS_USER_SQLITE_DB_FILE="..."
export MEALZ_MEALS_LOG_SQLITE_DB_FILE="..."
export MEALZ_MEALS_DAILY_PLAN_SQLITE_DB_FILE="..."
export MEALZ_MEALS_NAMED_SQLITE_DB_FILE="..."
export MEALZ_TELEGRAM_USERS_SQLITE_DB_FILE="..."

export MEALZ_TELEGRAM_ENABLED="true"
export MEALZ_TELEGRAM_BOT_TOKEN="..."
export MEALZ_TELEGRAM_BOT_NAME="..."
export MEALZ_TELEGRAM_WEBHOOK_URL="..."
export MEALZ_TELEGRAM_WEBHOOK_TOKEN="..."
export MEALZ_TELEGRAM_WEBHOOK_CERTIFICATE="..."