.mealz-meal-daily-plan-settings-add-button {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.mealz-meal-daily-plan-settings-add-button-label {
  @include mealz-font-tiny();
  color: $mealz-theme-color-active;
}

.mealz-meal-daily-plan-settings-buttons {
  margin-top: 2rem;
}

.mealz-meal-daily-plan-settings-summary-spacer {
  height: 12rem;
}