.mealz-ingredients-dropdown {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  width: 100%;
  @include mealz-border();
  background-color: $mealz-theme-color-bg-dark;
  padding: 0.375rem 0;
}

.mealz-ingredients-dropdown-entry {
  padding: 0 0.675rem;
}

.mealz-ingredients-dropdown-entry-selected {
  background-color: $mealz-theme-color-bg;
}

.mealz-ingredients-dropdown-ingredient {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: flex-start;
}

.mealz-ingredients-dropdown-ingredient-name {
  @include mealz-font-small();
  flex-shrink: 1;
  flex-grow: 0;
}

.mealz-ingredients-dropdown-ingredient-separator {
  flex-shrink: 1;
  flex-grow: 0;
  padding: 0 0.25rem;
}

.mealz-ingredients-dropdown-ingredient-details {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
  flex-shrink: 0;
  flex-grow: 1;
  margin-top: -0.25rem; // to move closer to the name
  opacity: 0.75;
  max-width: 100%;
}

.mealz-ingredients-dropdown-ingredient-details-calories {
  color: $mealz-theme-color-calories;
  white-space: nowrap;
}

.mealz-ingredients-dropdown-ingredient-details-carbs {
  color: $mealz-theme-color-carbs;
  white-space: nowrap;
}

.mealz-ingredients-dropdown-ingredient-details-protein {
  color: $mealz-theme-color-protein;
  white-space: nowrap;
}

.mealz-ingredients-dropdown-ingredient-details-fat {
  color: $mealz-theme-color-fat;
  white-space: nowrap;
}

.mealz-ingredients-dropdown-ingredient-details-brand {
  @include mealz-ellipsis();
  max-width: 100%;
}

.mealz-ingredients-dropdown-entry-selected {
  .mealz-ingredients-dropdown-ingredient-details-calories,
  .mealz-ingredients-dropdown-ingredient-details-carbs,
  .mealz-ingredients-dropdown-ingredient-details-protein,
  .mealz-ingredients-dropdown-ingredient-details-fat,
  .mealz-ingredients-dropdown-ingredient-details-brand,
  .mealz-ingredients-dropdown-ingredient-separator {
    color: $mealz-color;
  }
}

.mealz-ingredients-dropdown-no-results {
  @include mealz-font-tiny();
  color: $mealz-theme-color-error;
}