$mealz-ingredient-picker-padding-bottom: 0.375rem;

.mealz-ingredient-picker {
  position: relative;
  z-index: 1; // above the overlay
  @include mealz-border();
  background-color: $mealz-theme-color-bg-dark;
  display: grid;
  grid-template-columns: 4rem auto 2rem;
  grid-template-rows: auto auto;
  padding-bottom: $mealz-ingredient-picker-padding-bottom;
}

.mealz-ingredient-picker-amount {
  grid-column: 1;
  grid-row: 1;
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: baseline;
  justify-content: flex-end;
}

.mealz-ingredient-picker-amount-value {
  @include mealz-flex-container();
  align-items: center;

  .form-control, .form-control:focus {
    border: none;
    box-shadow: none;
    background-color: $mealz-theme-color-bg-dark;
    text-align: right;
    padding-right: 0;
    padding-bottom: 0; // to move the details closer to the amount
  }
}

.mealz-ingredient-picker-amount-unit {
  padding-left: 0.125rem;
  color: $mealz-theme-color-fg-dark;
}

.mealz-ingredient-picker-amount-details {
  grid-column: 1;
  grid-row: 2;
  @include mealz-font-tiny();
  text-align: right;
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: baseline;
  justify-content: flex-end;
}

.mealz-ingredient-picker-amount-calories-unit {
  padding-left: 0.125rem;
  color: $mealz-theme-color-fg-dark;
}

.mealz-ingredient-picker-name {
  grid-column: 2;
  grid-row: 1;
  @include mealz-flex-container();
  @include mealz-flex-vertical();

  .form-control, .form-control:focus {
    border: none;
    box-shadow: none;
    background-color: $mealz-theme-color-bg-dark;
    padding-bottom: 0; // to move the details closer to the name
  }
}

.mealz-ingredient-picker-delete {
  @include mealz-flex-container();
  align-items: center;
  justify-content: center;
  color: $mealz-theme-color-fg-dark;
  grid-column: 3;
  grid-row: 1 / span 2;
}

.mealz-ingredient-picker-delete-icon {
  transform: translateY(calc($mealz-ingredient-picker-padding-bottom / 2));
}

.mealz-ingredient-picker-ingredient-details {
  grid-column: 2;
  grid-row: 2;
  position: relative; // for the ingredients dropdown
}

.mealz-ingredient-picker-ingredient-details-label {
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
  padding-left: $input-padding-x;
}

.mealz-ingredient-picker-ingredient-details-label-error {
  color: $mealz-theme-color-error;
}

.mealz-ingredient-picker-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}