.mealz-meal-planner {
  $padding: 0.875rem;
  
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  display: relative;
  align-items: center;
  left: $padding;
  width: calc(100vw - 2 * #{$padding});
}

.mealz-meal-planner-calories {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  margin-left: $mealz-border-radius;
}

.mealz-meal-planner-calories-unit {
  color: $mealz-theme-color-bg;
  padding-left: 0.25rem;
}

.mealz-meal-planner-calories-value {
  padding-left: 0.5rem;
  width: 5rem;

  .form-control, .form-control:focus {
    text-align: right;
  }
}

.mealz-meal-planner-editor {
  width: 100%;
}