.mealz-meal-planner-action-bar {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
  margin-right: $mealz-border-radius;
  color: $mealz-theme-color-fg-dark;

  @include mealz-breakpoint-min(md) {
    justify-content: flex-start;
    margin-left: $mealz-border-radius;
  }
}

.mealz-meal-planner-action-bar-icon {
  cursor: pointer;
}

.mealz-meal-planner-action-bar-separator {
  color: $mealz-theme-color-bg;
  padding: 0 0.5rem;
}