// .mealz-meal-portion {
//   @include mealz-flex-container();
//   @include mealz-flex-vertical();
//   align-items: center;
//   justify-content: center;
// }

.mealz-meal-portion .modal-content {
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin-top: 2rem;
}

.mealz-meal-portion-input,
.mealz-meal-portion-input:focus {
  border: none;
  box-shadow: none;
  background-color: $mealz-theme-color-bg-dark;
  padding-bottom: 0; // to move the info closer to the name
}

.mealz-meal-portion-info {
  grid-column: 1;
  grid-row: 2;
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
  padding-left: 0.75rem;
}