$mealz-meal-planner-padding: 0rem;

.mealz-meal-planner {  
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  margin-left: $mealz-meal-planner-padding;
  margin-right: $mealz-meal-planner-padding;
  width: calc(100% - 2 * #{$mealz-meal-planner-padding});
}

.mealz-meal-planner-top-bar {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding-bottom: 1rem;
}

.mealz-meal-planner-meal {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  margin-left: $mealz-border-radius;
  max-width: 100%;
  min-width: 0;
}

.mealz-meal-planner-meal-name {
  cursor: pointer;
  max-width: 100%;
  @include mealz-ellipsis();
}

.mealz-meal-planner-calories-unit {
  color: $mealz-theme-color-bg;
  padding-left: 0.25rem;
}

.mealz-meal-planner-calories-value {
  $width: 4rem;

  padding-left: 0.5rem;
  width: $width;
  min-width: $width;

  .form-control, .form-control:focus {
    text-align: right;
  }
}

.mealz-meal-planner-ingredients {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  width: 100%;

  @include mealz-breakpoint-min(md) {
    @include mealz-flex-horizontal();
  }
}

.mealz-meal-planner-editor {
  width: 100%;
  height: 100%;
}

.mealz-meal-planner-summary {
  padding-left: 2rem;
  
  @include mealz-breakpoint-max(md) {
    padding: 1rem 0;
  }
}