.mealz-named-meal-picker-dropdown {
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0.5rem;
  width: calc(100% - 1rem);
  @include mealz-border();
  background-color: $mealz-theme-color-bg-dark;
  padding: 0.375rem 0;
}

.mealz-named-meal-picker-dropdown-item {
  padding: 0rem 0.675rem;
}

.mealz-named-meal-picker-dropdown-item-selected {
  background-color: $mealz-theme-color-bg;
}