$mealz-page-desktop-width: 58rem;
$mealz-page-mobile-padding: 1.25rem;

.mealz-page-wrapper {
}

.mealz-page-wrapper-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;

  @include mealz-breakpoint-max(md) {
    margin-top: 1rem;
    padding: 0 $mealz-page-mobile-padding;
  }

  @include mealz-breakpoint-min(md) {
    width: $mealz-page-desktop-width;
  }
}