.mealz-navbar-desktop-container {
  height: $mealz-navbar-height;
  background-color: $mealz-theme-color-bg-medium;
  position: relative;

  // above the page content so that the menu overlay is above the content
  z-index: 9;
}

.mealz-navbar-desktop {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  @include mealz-breakpoint-min(md) {
    width: $mealz-page-desktop-width;
  }
}

.mealz-navbar-desktop-left-side-content {
  flex-shrink: 0;
  flex-grow: 1;
}

.mealz-navbar-desktop-logo {
  font-size: 1.125rem;
  font-family: "Leckerli One", cursive;
  color: $mealz-theme-color-fg;
  text-shadow: 0.125rem 0.125rem 0 rgba(black, 0.5);
}

.mealz-navbar-desktop-right-side-content {
  flex-grow: 0;
  flex-shrink: 1;
  position: relative;
}

.mealz-navbar-desktop-menu {
  font-size: 1.5rem !important;
  cursor: pointer;
}