.mealz-navbar-mobile-container {
  height: $mealz-navbar-height;
  background-color: $mealz-theme-color-bg-medium;

  // above the page content so that the menu overlay is above the content
  z-index: 9;
  
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 $mealz-page-mobile-padding;
}

.mealz-navbar-mobile {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}

.mealz-navbar-mobile-item {
  font-size: 1.5rem !important;
  cursor: pointer;
  text-align: center;
  flex-grow: 1;
  text-shadow: 0.125rem 0.125rem 0 rgba(black, 0.5);
}