.mealz-page-wrapper {
}

.mealz-page-wrapper-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: calc($mealz-navbar-height + 1rem);

  @include mealz-breakpoint-max(md) {
    margin-top: 1rem;
    padding: 0 $mealz-page-mobile-padding;
  }

  @include mealz-breakpoint-min(md) {
    width: $mealz-page-desktop-width;
  }
}