$mealz-theme-color-fg: #f3b909;
$mealz-theme-color-bg: #574964;
$mealz-theme-color-error: #dc3545;
$mealz-theme-color-link: #0095ff; //#007bff;


$mealz-theme-color-calories: #f46511;
$mealz-theme-color-carbs: #6c8ace;
$mealz-theme-color-protein: #b9d056;
$mealz-theme-color-fat: #ba59ac;