.mealz-error {
  color: $mealz-theme-color-error !important;
}

.mealz-color-active {
  color: $mealz-theme-color-active;
}

.mealz-color-inactive {
  color: $mealz-theme-color-inactive;
}

.mealz-color-calories {
  color: $mealz-theme-color-calories;
}

.mealz-color-carbs {
  color: $mealz-theme-color-carbs;
}

.mealz-color-protein {
  color: $mealz-theme-color-protein;
}

.mealz-color-fat {
  color: $mealz-theme-color-fat;
}