@use 'sass:color';

body {
  background-image: linear-gradient(
    $mealz-theme-color-bg-dark,
    color.scale($mealz-theme-color-bg-dark, $lightness: -64%)
  );
  color: $mealz-color;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

a, a:hover {
  color: $blue-300;
}

a, a:visited {
  text-decoration: none;
}

// No spin buttons (arrow up/down)
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  // Chrome, Safari, Edge, Opera
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  // Firefox
  -moz-appearance: textfield;
}
// hide the error icon
.form-control.is-invalid {
  background-image: none !important;
  padding-right: 0.75rem !important;
}