.mealz-go-to-settings-menu-item {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.mealz-go-to-settings-menu-item-icon {
  color: $mealz-theme-color-active;
  flex-shrink: 1;
  flex-grow: 0;
  margin-right: 0.25rem;
}

.mealz-go-to-settings-menu-item-label {
  flex-shrink: 0;
  flex-grow: 1;
}

.mealz-go-to-settings-menu-item-arrow {
  color: $mealz-theme-color-active;
  position: absolute;
  right: 0;
}