.mealz-settings-separator {
  height: 1px;
  background-color: rgba($mealz-theme-color-border, 0.5);
  margin: 2rem 0;
}

.mealz-settings-separator-small {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}