.mealz-settings-menu {
  $horizontal-margin: 2rem;
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  margin: 0 $horizontal-margin;
  width: calc(100% - 2 * #{$horizontal-margin});
}