.mealz-settings-overview {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mealz-settings-overview-separator {
  margin: 1rem 8rem;
  min-width: 12rem;
  width: auto;
  height: 1px;
  background-color: rgba($mealz-theme-color-border, 0.5);
}

.mealz-settings-overview-sign-out {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mealz-settings-overview-sign-out-icon {
  color: $mealz-theme-color-fg;
  font-size: 2rem;
}

.mealz-settings-overview-sign-out-label {
  @include mealz-font-small();
  margin-top: -0.375rem; // move closer to the icon
}

.mealz-settings-overview-user-info {
  $horizontal-margin: 2rem;
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  @include mealz-font-tiny();
  // @include mealz-border();
  margin: 0 $horizontal-margin;
  width: calc(100% - 2 * #{$horizontal-margin});
  // padding: 0.5rem 0 1rem 0;
  padding-bottom: 1rem;
}

.mealz-settings-overview-user-info-icon {
  font-size: 2rem;
}

.mealz-settings-overview-user-info-name {
  font-weight: bold;
  @include mealz-font-big()
}

.mealz-settings-overview-user-info-email {
  @include mealz-font-small();
  color: $mealz-theme-color-fg-dark;
}