.mealz-take-photo-button {
width: 2rem;
height: 2rem;

border-radius: 9999px;
background: transparent;

// outer ring
border: 0.25rem solid $mealz-theme-color-fg;

display: inline-flex;
align-items: center;
justify-content: center;

padding: 0;
cursor: pointer;

// remove default button styles
appearance: none;
-webkit-appearance: none;
outline: none;
}

// inner circle
.mealz-take-photo-button-inner {
  width: 80%;
  height: 80%;
  border-radius: 9999px;
  background: $mealz-theme-color-fg;
  display: block;
}

.mealz-take-photo-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}