.mealz-ai-meal-scanner-camera {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  position: relative;
}

.mealz-ai-meal-scanner-camera-details {
  @include mealz-font-tiny();
  align-items: center;
}

.mealz-ai-meal-scanner-camera-frame {
  @include mealz-flex-container();
  @include mealz-flex-center();
  width: 100%;
  height: 100%;
  margin: 1rem;

  video {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;  
    object-fit: contain;
    border-radius: $mealz-border-radius;
    border: solid 1px $mealz-theme-color-border;
    overflow: hidden;
    display: block;
  }
}

.mealz-ai-meal-scanner-camera-frame-hidden {
  display: none;
}

.mealz-ai-meal-scanner-camera-button {
  margin: 0.5rem 0;
}
