.mealz-ai-meal-scanner {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.mealz-ai-meal-scanner-camera-details {
  @include mealz-font-tiny();
  color: $mealz-theme-color-fg-dark;
  align-items: center;
}