.mealz-ai-meal-scanner-camera {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
}

.mealz-ai-meal-scanner-camera-frame {
  margin: 1rem;
  border-radius: $mealz-border-radius;
  border: solid 1px $mealz-theme-color-border;
  overflow: hidden;
  position: relative;

  video {
    width: 100%;
    height: auto;
    display: block;
  }
}

.mealz-ai-meal-scanner-camera-frame-hidden {
  display: none;
}

.mealz-ai-meal-scanner-camera-frame-overlay {
  $margin: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: $margin;
  border-radius: $mealz-border-radius;
  border: dashed 0.0875rem rgba($mealz-theme-color-border, 0.5);
  width: calc(100% - 2 * #{$margin});
  height: calc(100% - 2 * #{$margin});
}

.mealz-ai-meal-scanner-camera-button {
  margin: 0.5rem 0;
}
