.mealz-ai-meal-scanner-analyze {
  @include mealz-flex-container();
  @include mealz-flex-vertical();
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.mealz-ai-meal-scanner-analyze-photo { 
  @include mealz-flex-container();
  @include mealz-flex-center();
  width: 100%;
  height: 100%;
  margin: 1rem;

  img {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;  
    object-fit: contain;
    border-radius: $mealz-border-radius;
    border: solid 1px $mealz-theme-color-border;
    overflow: hidden;    
    object-fit: contain;
  }
}

.mealz-ai-meal-scanner-analyze-no-meals {
  @include mealz-font-small();
  text-align: center;
  margin-top: 2rem;
}

.mealz-ai-meal-scanner-analyze-totals {
  margin-top: 2rem;
}

.mealz-ai-meal-scanner-analyze-all-meals-name {
  @include mealz-font-small();
  text-align: center;
  margin-top: 2rem;
}

.mealz-ai-meal-scanner-analyze-button-bar {
  @include mealz-flex-container();
  @include mealz-flex-horizontal();
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}