.mealz-page-navbar-menu {
  $transition-duration: 0.3s;

  min-width: 12rem;
  padding: 0.5rem 0;
  @include mealz-border();
  background-color: $mealz-theme-color-bg-dark;
  position: absolute;
  z-index: 9; // above the overlay
  right: 0;

  opacity: 1;
  transform: translateX(0);
  transition:
    transform 0.3s ease-out,
    opacity 0.25s ease-out;  

  @include mealz-breakpoint-max(md) {
    bottom: calc(100% + 1rem);
  }

  @include mealz-breakpoint-min(md) {
    top: calc(100% + 1rem);
  }
}

.mealz-page-navbar-menu-hidden {
  opacity: 0;
  transform: translateX(-8rem);
  transition:
    transform 0.3s ease-in,
    opacity 0.25s ease-in;
}

.mealz-page-navbar-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mealz-page-navbar-menu-item {
  padding: 0.175rem 1rem;
  cursor: pointer;

  &:hover {
    background: $mealz-theme-color-bg;
  }
}