.mealz-dashboard-section-separator {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mealz-dashboard-section-separator-line {
  height: 1px;
  background-color: rgba($mealz-theme-color-border, 0.5);
}