.mealz-progress-bar {
  width: 100%;
  height: 100%;
  // background-color: $mealz-theme-color-bg;
  border-radius: 9999px;
  position: relative;
}

.mealz-progress-bar-fill {
  height: 100%;
  // background-color: $mealz-theme-color-fg;
  border-radius: 9999px;
  position: absolute;
}